<!DOCTYPE html>
<html {% block ngApp %}ng-app="admin"{% endblock %}>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Admin - Portal Boson{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <style>
        @font-face {
            font-family: 'electrofield';
            src: url('{{ asset('bundles/iux/bootstrap/css/fonts/electro.ttf') }}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'novason';
            src: url('{{ asset('bundles/iux/bootstrap/css/fonts/novason.ttf') }}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'aller';
            src: url('{{ asset('bundles/iux/bootstrap/css/fonts/aller.ttf') }}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        html, body {
            height: 100%;
        }

        body {
        }

        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }

        .table .input-control.checkbox {
            line-height: 1;
            min-height: 0;
            height: auto;
        }

        @media screen and (max-width: 800px) {
            #cell-sidebar {
                flex-basis: 52px;
            }

            #cell-content {
                flex-basis: calc(100% - 52px);
            }
        }
    </style>

    <!-- CSS Styles Block -->
    <link href="{{ asset('bundles/portal/css/metro.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/portal/css/metro-icons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/portal/css/metro-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/portal/css/metro-schemes.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/portal/lib/select2/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/portal/css/custom.css') }}" rel="stylesheet">
    <!-- Ebd CSS Styles Block -->

    <!-- Javascript Libraries Block -->
    <script src="{{ asset('bundles/portal/lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/portal/lib/jquery-slim-scroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/portal/lib/angular/angular.js') }}"></script>
    <script src="{{ asset('bundles/portal/lib/angular/angular-animate.js') }}"></script>
    <script src="{{ asset('bundles/portal/lib/angular-ui-router/angular-ui-router.js') }}"></script>
    <script src="{{ asset('bundles/portal/lib/angular-file-upload/ng-file-upload-shim.min.js') }}"></script>
    <script src="{{ asset('bundles/portal/lib/angular-file-upload/ng-file-upload.min.js') }}"></script>
    <script src="{{ asset('bundles/portal/lib/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <!-- End Javascript Libraries Block -->

    <!-- App Block -->
    <script src="{{ asset('bundles/portal/app_admin/app.js') }}"></script>
    <!-- Services -->
    <script src="{{ asset('bundles/portal/app_admin/service/portalSvc.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/service/utilSvc.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/service/tileSvc.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/service/tilegroupSvc.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/service/contentSvc.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/service/contentSvc.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/service/modalSvc.js') }}"></script>
    <!-- Directives -->
    <script src="{{ asset('bundles/portal/app_admin/directive/bnModals.js') }}"></script>
    <!-- Controllers -->
    <script src="{{ asset('bundles/portal/app_admin/controller/tileCtrl.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/controller/contentCtrl.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/controller/tilegroupCtrl.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/controller/modal/AlertModalCtrl.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/controller/modal/ConfirmModalCtrl.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/controller/modal/PromptModalCtrl.js') }}"></script>
    <script src="{{ asset('bundles/portal/app_admin/routes.js') }}"></script>
    <!-- End App Block -->

    <!-- Javascript Block -->
    <script src="{{ asset('bundles/portal/js/metro.min.js') }}"></script>
    <script src="{{ asset('bundles/portal/js/custom.js') }}"></script>
    <!-- End Javascript Block -->


    {% block stylesheets %}{% endblock %}
</head>
<body class="" ui-view="">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
