{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TileGroup</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ entity.size }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Titleforeground</th>
                <td>{{ entity.titleForeground }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tilegroup') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tilegroup_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
